<%- include("./partials/header"); -%>
<div class="contact-container">
  <h2 style="margin-bottom: 1rem">Welcome</h2>
  <p>
    Welcome to ReadingRealm, a community for book enthusiasts and bloggers to
    share their thoughts and reviews on the latest reads. Our platform is
    dedicated to fostering a love of literature and encouraging the exchange of
    ideas among readers. Whether you're a seasoned blogger or just starting out,
    we invite you to join our community and share your passion for books with
    others. From gripping fiction to thought-provoking non-fiction, there's
    something for everyone on ReadingRealm. Start exploring today and discover a
    world of books waiting to be read. Happy blogging!
  </p>
  <ul style="padding: 20px 10px; font-weight: 600">
    <li>>> To start bloggin simply click on compose button</li>
    <li>>> You can read your blog after publishing it !</li>
  </ul>
</div>
<%- include("./partials/footer");-%>
