<!-- header include -->
<%- include("./partials/header"); -%>
<!-- composer -->
<div class="compose-container">
  <section id="contact-form">
    <form
      id="contact"
      name="contact"
      accept-charset="utf-8"
      action="/compose"
      method="post"
    >
      <label
        ><span>title</span
        ><input name="Heading" type="text" placeholder="Heading"
      /></label>
      <label
        ><span>text</span><textarea name="Body" placeholder="Body"></textarea>
      </label>
      <input name="submit" type="submit" value="Publish" />
    </form>
  </section>
</div>
<!-- footer include -->
<%- include("./partials/footer"); -%>
