* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f3efe0;
  font-family: "Roboto", sans-serif;
}

/* ========= BIG SCREEN STYLES ================== */
header {
  width: 100%;
  min-height: 70px;
  background-color: #434242;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  width: 90%;
  max-width: 1000px;
  height: 7vh;
  min-height: 80px;
  padding-top: 8px;
  background-color: inherit;
  color: #22a39f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
}
nav .logo {
  font-size: 38px;
}
.navList {
  font-size: 17px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  color: inherit;
  text-decoration: none;
}
.navBtn {
  display: none;
  cursor: pointer;
}
/* 3divs for 3line button */
.navBtn div {
  width: 30px;
  height: 2px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: all 0.5s ease-in;
}

/* ============ SMALL SCREEN STYLES ============= */
@media screen and (max-width: 768px) {
  nav {
    padding: 0;
    align-items: center;
  }

  .navList {
    /* stick the ul (navList) to a window just below navbar  */
    position: absolute;
    right: 0px;
    height: 93vh;
    top: clamp(60px, 7vh, 7vh);
    /* li from row to column */
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    /* make it a bit pretty :) */
    padding: 5vh 15vw;
    background-color: #434242;
    font-size: 26px;
    letter-spacing: 1px;
    /* blur the background */
    backdrop-filter: blur(5px);
    /* will move container off the screen temporarly :)*/
    transform: translate(100%);
    transition: transform 0.5s ease-out;
  }

  .navLi {
    opacity: 0;
  }

  .navBtn {
    display: block;
  }
}

.navActive {
  transform: translate(0%);
}
@keyframes SlideIn {
  from {
    opacity: 0;
    transform: translate(250px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.navBtnToggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.navBtnToggle .line2 {
  transform: scale(0) translate(10px, 0);
}

.navBtnToggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.blog-container {
  padding: 7% 15%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.contact-container {
  padding: 7% 15%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
footer {
  background-color: #434242;
  padding: 7% 15%;
  color: #22a39f;
  text-align: center;
  min-height: 50px;
  font-size: 21px;
  font-family: "Roboto", sans-serif;
}

.compose-container {
  padding: 5% 15%;
}
.c-btn {
  position: absolute;
  padding: 10px;
  top: 120px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  font-weight: 400;
  background-color: #22a39f;
  right: 120px;
}
.c-btn:hover {
  color: black;
  opacity: 0.8;
}
